{% extends 'base.html' %}
{% block content %}

<h1>Add a Trip!</h1>
<div class="card">
  <div class="card-content">
    <form action="{% url 'add_trip' %}" method="POST" novalidate>
      {% csrf_token %}
      {{ trip_form.as_p }}
      <input type="submit" class="btn" value="Add Trip">
    </form>
  </div>
</div>

<script>
  const startDateEl = document.getElementById('id_start');
  M.Datepicker.init(startDateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
  
  const endDateEl = document.getElementById('id_end');
  M.Datepicker.init(endDateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  const roadtripEl = document.getElementById('id_roadtrip');
  M.FormSelect.init(roadtripEl);

  const purposeEl = document.getElementById('id_purpose');
  M.FormSelect.init(purposeEl);

</script>

{% endblock %}