{% extends 'base.html' %}
{% block content %}

<h1>Trip Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ trip.title }}</span>
        <p>Purpose: {{ trip.get_purpose_display }}</p>
        <p>Start: {{ trip.start }}</p>
        <p>End: {{ trip.end }}</p>
        <p>Highlight: {{ trip.highlight }}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'trips_update' trip.id %}">Edit Trip</a>
        <a href="{% url 'trips_delete' trip.id %}">Delete Trip</a>
    </div>
</div>

<div>
    <h3>Trip Summary</h3>
    {% if trip.countries.count %}
        <table>    
            <tr>
                <th>Trip Detail</th>
                <th>#</th>
            </tr>
            <tr>
                <td>Countries Visited: </td>
                <td>{{ trip.countries.all.count }}</td>
            </tr>
            <tr>
                <td># Segments: </td>
                <td>{{ trip.segments_all_count }}</td>
            </tr>
        </table>
    {% else %}
        <p>No countries or cities listed in this trip! Add some below</p>
    {% endif %}
</div>
<br>

<h1>Segments of the {{ trip.title }}</h1>
  {% for segment in trip.segment_set.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ segment.get_segment_type_display }} Segment</span>
        <p>Country: {{ segment.segment_country_start.name }}</p>
        <p>Start Date: {{ segment.start_date }}</p>
          
          {% if segment.segment_type == "J" %}
            <p>End Date: {{ segment.end_date }}</p>
            <p>Start From: {{ segment.start_location }}</p>
            Travelled: {{ segment.get_journey_type_display }}</p>
            <p>Distance: {{ segment.distance }} {{ segment.get_distance_measurement_display }}</p>
            <p>Duration: {{ segment.duration }} hours</p>
          {% else %}
          {% endif %}
      </div>
    </div>  
  {% endfor %}
<br>

<div class="col s6">
  <h3>Add Segments to this Trip</h3>
  <a href="{% url 'segments_create' %}" class="btn">Add</a>
  
</div>
<br>








{% endblock %}