{% extends 'base.html' %}
{% block content %}

<h1>Trip Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ trip.title }}</span>
        <p>Purpose: {{ trip.get_purpose_display }}</p>
        <p>Start: {{ trip.start }}</p>
        <p>End: {{ trip.end }}</p>
        <p>Highlight: {{ trip.highlight }}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'trips_update' trip.id %}">Edit Trip</a>
        <a href="{% url 'trips_delete' trip.id %}">Delete Trip</a>
    </div>
</div>

<div>
    <h3>Trip Summary</h3>
    {% if trip.countries.count %}
        <table>    
            <tr>
                <th>Trip Detail</th>
                <th>#</th>
            </tr>
            <tr>
                <td>Countries Visited: </td>
                <td>{{ trip.countries.all.count }}</td>
            </tr>
            <tr>
                <td>Cities Visited: </td>
                <td>{{ trip.cities.all.count }}</td>
            </tr>
        </table>
    {% else %}
        <p>No countries or cities listed in this trip! Add some below</p>
    {% endif %}
</div>
<br>

<h3>Cities Visited</h3>
    {% if trip.cities.count %}
        <table>    
            <tr>
                <th>Country</th>
                <th>City</th>
                <th>Population</th>
                <th>Location</th>
            </tr>
            {% for c in trip.cities.all %}
            <tr>
                <td>{{ c.country }}</td>
                <td>{{ c.name }}</td>
                <td>{{ c.population }}</td>
                <td>{{ c.location }}</td>
                {% endfor %}
            </tr>
        </table>
    {% else %}
        <p>No cities listed in this trip! Add some below</p>
    {% endif %}
</div>
<br>
<br>
<br>
<br>
<div class="col s6">
    <h3>Add Countries to this Trip</h3>
    {% if countries.count %}
      {% for country in countries.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ country.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_country' trip.id country.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
    <h5>{{trip.name}} Already includes All Countries Available</h5>
    {% endif %}
<br>
<p>Don't see the country you visited: </p><a class="btn" href="{% url 'countries_create' %}">Add a Country</a>



<div>

<div class="col s6">
    <h3>Add Cities to this Trip</h3>
    {% if cities.count %}
      {% for city in cities.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ city.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_city' trip.id city.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
    <h5>{{trip.name}} Already includes All Cities Available</h5>
    {% endif %}
<br>

<p>Don't see the city you visited: </p><a class="btn" href="{% url 'cities_create' %}">Add a City</a>








{% endblock %}