{% extends 'base.html' %}
{% block content %}

<h1>Segment List for {{ trip.title }} </h1>

{% for segment in trip.segments %}
  <div class="card">
    <a href="{% url 'country_detail' country.id %}">
      <div class="card-content">
        {% if segment.segment_type == 'J' %}
        
        <span class="card-title">{{ country.name }}</span>
        <p>Continent: {{ country.continent }}</p>
        <p>Region: {{ country.region }}</p>
        <p>Capital City: {{ country.capital_city }}</p>
        <p>Population: {{ country.population|floatformat:0 }}</p>
        {% if country.population > 200000000 %}
          <p>Category: Large Country</p>
        {% elif country.population > 50000000 %}
          <p>Category: Large Country</p>
          {% else %}
          <p>Category: Small Country</p>
        {% endif %}
      </div>
    </a>
  </div>
{% endfor %}
    
    
{% endblock %}