{% extends 'base.html' %}
{% block content %}

<h1>Country Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ country.name }}</span>
    <p>Continent: {{ country.continent }}</p>
    <p>Region: {{ country.region }}</p>
    <p>Capital City: {{ country.capital_city }}</p>
    <p>Population: {{ country.population|floatformat:0 }}</p>
    {% if country.population > 200000000 %}
        <p>Category: Large Country</p>
    {% elif country.population > 50000000 %}
        <p>Category: Large Country</p>
    {% else %}
        <p>Category: Small Country</p>
    {% endif %}
  </div>
  <div class="card-action">
    <a href="{% url 'countries_update' country.id %}">Edit</a>
    <a href="{% url 'countries_delete' country.id %}">Delete</a>
  </div>
</div>

<h1>Previous & Upcoming Trips</h1>
  {% for trip in country.trips_set.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ trip.title }}</span>
        <p>Trip Purpose: {{ trip.get_purpose_display }}</p>
        <p>Start Date: {{ trip.start }}</p>
        <p>End Date: {{ trip.end }}</p>
        <p>Highlight: {{ trip.highlight }}</p>
        <p>Roadtrip: {{ trip.get_roadtrip_display }}</p>  
      </div>
    </div>  
  {% endfor %}

<br>
<h2>Add a Trip!</h2>
<div class="card">
  <div class="card-content">
    <form action="{% url 'add_trip' country.id %}" method="POST" novalidate>
      {% csrf_token %}
      {{ trip_form.as_p }}
      <input type="submit" class="btn" value="Add Trip">
    </form>
  </div>
</div>

<script>
  const startDateEl = document.getElementById('id_start');
  M.Datepicker.init(startDateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
  
  const endDateEl = document.getElementById('id_end');
  M.Datepicker.init(endDateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  const purposeEl = document.getElementById('id_purpose');
  M.FormSelect.init(purposeEl);

  const roadtripEl = document.getElementById('id_roadtrip');
  M.FormSelect.init(roadtripEl);
</script>

{% endblock %}