{% extends 'base.html' %}
{% block content %}

<h1>Visited Country Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ country.name }}</span>
    <p>Continent: {{ country.continent }}</p>
    <p>Region: {{ country.region }}</p>
    <p>Capital City: {{ country.capital_city }}</p>
    <p>Population: {{ country.population|floatformat:0 }}</p>
    {% if country.population > 200000000 %}
        <p>Category: Large Country</p>
    {% elif country.population > 50000000 %}
        <p>Category: Large Country</p>
    {% else %}
        <p>Category: Small Country</p>
    {% endif %}
  </div>
  <div class="card-action">
    <a href="{% url 'countries_update' country.id %}">Edit</a>
    <a href="{% url 'countries_delete' country.id %}">Delete</a>
  </div>
</div>


  <h1>Previous & Upcoming Visits</h1>
    {% for visit in country.visit_set.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{ visit.get_purpose_display }} Trip</span>
          <p>Start Date: {{ visit.start }}</p>
          <p>End Date: {{ visit.end }}</p>
          <p>Highlight: {{ visit.highlight }}</p>
          <p>Roadtrip: {{ visit.roadtrip }}</p>  
        </div>
      </div>  
    {% endfor %}

    {% if country.visits > 0 %}
    {% endif %}

{% endblock %}